:root {
  --branding-color: #6c63ff;
  --secondary-color: #f5f1fe;
  --primary-font: "Roboto Condensed", serif;
  --secondary-font: "Afacad Flux", serif;
}

body {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 20px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  margin-top: 10px;
}

.homepage-images {
  display: block;
  margin: auto;
}

.project-links {
  text-align: center;
  padding: 20px 30px;
}

.contact-me-links {
  font-size: 18px;
  color: var(--branding-color);
}

@media (max-width: 576px) {
  h2 {
    font-size: 12px;
  }

  .hero {
    text-align: center;
    padding: 70px 10px;
  }

  .hero p {
    font-size: 26px;
  }

  .btn-branding {
    font-size: 10px;
    line-height: 16px;
    padding: 10px 10px;
  }

  h2 {
    font-size: 34px;
  }

  p {
    font-size: 16px;
  }

  .container {
    text-align: center;
    padding: 20px 30px;
  }

  .btn-branding-outline {
    font-size: 10px;
    line-height: 16px;
    padding: 10px 10px;
    margin-top: 10px;
  }
}
