:root {
  --branding-color: #6c63ff;
  --secondary-color: #f5f1fe;
  --primary-font: "Roboto Condensed", serif;
  --secondary-font: "Afacad Flux", serif;
}

.name-logo {
  float: left;
  padding: 12px 15px;
  font-size: 30px;
  line-height: 40px;
  height: auto;
  width: 180px;
}

.navbar {
  font-size: 18px;
}

body {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 24px;
}

h4 {
  font-size: 48px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 20px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  margin-top: 10px;
}

.homepage-images {
  display: block;
  margin: auto;
}

.project-links {
  text-align: center;
  padding: 20px 30px;
}

.contact-me-links {
  font-size: 18px;
  color: var(--branding-color);
}

.card-text {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  margin: 25px auto;
}

.card-header {
  text-align: center;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 576px) {
  h2 {
    font-size: 12px;
  }

  .hero {
    text-align: center;
    padding: 70px 10px;
  }

  .hero p {
    font-size: 26px;
  }

  .btn-branding {
    font-size: 10px;
    line-height: 16px;
    padding: 10px 10px;
  }

  h2 {
    font-size: 34px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .container {
    text-align: center;
    padding: 20px 30px;
  }

  .btn-branding-outline {
    font-size: 10px;
    line-height: 16px;
    padding: 10px 10px;
    margin-top: 10px;
  }
}
